:root.theme-dark {
  --bg-color: #000028;
  --main-text-color: #F1B2CE;
  --bg-main-image: url("../images/cover-image-dark.png");
  --accent-main-color: #FF0070;
  --accent-color: #DB00FF;
  --header-text-color: #000028;
  --accent-text-color: #FF0070;
}

.theme-dark .header__rec::before {
  content: "REC";
}

.theme-dark .header__rec::after {
  content: "";
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}