:root.theme-light {
  --bg-color: #FFF1F7;
  --main-text-color: #353430;
  --bg-main-image: url("../images/cover-image-light.png");
  --accent-main-color: #FF8DCB;
  --accent-color: #FFC2E6;
  --header-text-color: #353430;
  --accent-text-color: #353430;
}

.theme-light .header__rec::before {
  content: none;
}

.theme-light .header__rec::after {

  content: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --main-text-color: #353430;
    --bg-main-image: url("../images/cover-image-light.png");
    --accent-main-color: #FF8DCB;
    --accent-color: #FFC2E6;
    --header-text-color: #353430;
    --accent-text-color: #353430;
  }

  .header__rec::before {
    content: none;
  }

  .header__rec::after {
    content: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

}